// Variables para colores
$primary-color: #354f5275;
$secondary-color: #84A98C;
$background-color: #85e9bf25;
$text-color: #2F3E46;

// Fuentes
$main-font: "Work Sans", sans-serif;
$header-font: "Noto Sans", sans-serif;

// Tamaños
$border-radius: 10px;
$padding: 20px;
